@import './../../../assets/scss/import';

.field {
  position: relative;
  margin: 10px 0;
  width: 100%;
  @include tablet {
    margin: 14px 0;
  }
  &__input {
    box-sizing: border-box;
    margin: 5px 0;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    padding: 5px;
    padding-left: 10px;
    background: #f6f8fa;
    outline: none;
    @include tablet {
      height: 77px;
    }
    &:focus ~ .field__label-wrap::after {
      opacity: 1;
    }
    &:focus + .field__label__wrap .field__label,
    &:not(:placeholder-shown) + .field__label__wrap .field__label {
      // top: -10px;
      top: calc(50% - 3.3em);
      font-size: 14px;
    }
  }
  &__label__wrap {
    box-sizing: border-box;
    pointer-events: none;
    cursor: text;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    &::after {
      content: "";
      box-sizing: border-box;
      width: 100%;
      height: 0;
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  &__label {
    position: absolute;
    // top: 9px;
    top: calc(50% - 1em);
    left: 6%;
    color: gray;
    background: #f6f8fa;
    border-radius: 10px;
    padding: 5px;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    will-change: bottom, opacity, font-size;
  }
}

.error {
  // font-size: 12px;
  color: red;
  margin-left: 6px;
  position: absolute;
  // top: 0;
  // right: 0;
  // bottom: 0;
  font-size: 14px;
  @include md-tablet-desktop {
    font-size: 13px;
  }
  // left: 0;
}
.input__error {
  border: 1px solid red;
}

