@import "../../../../../assets/scss/import";

.main {
  margin: 100px auto 80px;
  width: calc(100% / 1.2);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  // background-color: gray;
  background-image: url('../../../../../assets/image/bg.jpg');
  background-repeat: round;
  background-attachment: fixed;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 10px;
  border-radius: 10px;
}
.name {
  font-size: 21px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 14px;
}
.form {
  width: 100%;
  max-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 10px;
  border-radius: 10px;
}
.input {
  padding: 10px 10px 200px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  outline: none;
  margin-bottom: 10px;
  background: linear-gradient(181.6deg,#f7fbfe .74%,#fff 76.68%);
}
.error {
  color: red;
  font-size: 15px;
}
.submit {
  margin: 20px 0;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #8c4bff;
  color: white;
}
