* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
}

/*  */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Poppins2";
  src: url("./assets/fonts/Poppins-ExtraBold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
