@import "./../../../assets/scss/import";

.home {
  width: 100%;
  background-color: $bg-primary;
}
.contain {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 68px 15px;
  @include md-tablet-desktop {
    padding: 68px 25px;
  }
}
.heading {
  max-width: 740px;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 24px;
  color: $text-white;
  text-align: left;
  @include desktop {
    font-size: 53px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
